.pkmn {
    background-color: rgb(88, 117, 250);
    background-color: rgb(88, 117, 250);
    width: 80%;
    padding: 10px 40px;
    margin:10px auto;
    border-radius: 3px 30px;
    color:white;
}

.lists {
    display:contents;
    justify-content: space-evenly;
    margin:auto;
    width:80%;
}

ul {
    width:100%;
}

section {
   padding: 2px 20px;
   margin: 0px 20px;
}

.sprites {
    display: block;
}